* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;


}

header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 15px 0;
    z-index: 1;


}

h1 {

    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: gold;
    z-index: 1;

}

.G {

    color: black;
    font-size: 1.5em;
    font-weight: 900;
}

.links {
    display: flex;
    align-items: center;
    z-index: 1;

}

.links a {
    text-decoration: none;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    border-left: 3px solid black;
    padding-left: 10px;
    font-weight: 700;




}

.links a:hover {
    color: orange
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;


}

.backvideo {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.7;
    height: 100%;


}

.hr {


    margin: auto;
    width: 45%;
    border: 0;
    border-top: 10px solid red;
    border-radius: 50%;


}

.frontvideo {

    position: relative;
    width: 80%;
    height: 70%;
    text-decoration: none;
    margin: 50px 15px;
    border-radius: 55px;
    border: 5px solid rgba(196, 211, 18, 0.1);
    object-fit: cover;


}

.maintext {
    position: relative;
    width: 50%;
    height: 50%;
    margin: 50px 15px;
    text-decoration: none;

}

.maintext p {

    color: rgb(2, 5, 102);
    font-size: 1.35em;
    font-weight: 600;
    font-family: 'Monoton', cursive;
    letter-spacing: .5px;
    text-transform: capitalize;
    text-align: justify;
    margin-right: 30px;


}

.button {

    text-decoration: none;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.5em;
    border-radius: 15px;
    background-color: transparent;
    color: orange;
    text-transform: uppercase;
    font-weight: 600;
    border: double red;

}

.icon {

    display: flex;
    justify-content: flex-start;


}

.icon .playicon1,
.playicon2 {

    width: 35px;

}

.playicon2 {
    margin-left: 20px;

}